@import "tailwindcss";

@theme  {
  --color-boton: #00abe4;
  --color-boton-2: #ff5f5f;
  --color-boton-hover: #0095d4;
  --color-boton-2-hover: #f83b3b;
  --color-boton-3: #8b95a5;
  --color-boton-3-hover: #6d788a;
  --color-background-reg: #898989;
  --color-bright-gray-50: #f7f8f8;
  --color-bright-gray-100: #edeef1;
  --color-bright-gray-200: #d7dae0;
  --color-bright-gray-300: #b4b9c5;
  --color-bright-gray-400: #8b95a5;
  --color-bright-gray-500: #6d788a;
  --color-bright-gray-600: #586171;
  --color-bright-gray-700: #484f5c;
  --color-bright-gray-800: #3e434e;
  --color-bright-gray-900: #373b44;
  --color-bright-gray-950: #24262d;
  --color-lineas: #B4B4B4;

  --font-adlam: "ADLaM Display", "system-ui";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-adlam);
}

